#modulos de node
node_modules
.env
# carpeta donde estan los compilados
dist

#Achivos de configuracion de la base de datos
db.ts
db.js

#archivos temporales
/tmp/*
!/tmp
/galeria/*
!/galeria

#carpeta donde contiene los datos de session de whatsapp web
/.wwebjs_auth
